.wrapper {
  background: white;
  justify-content: center;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  width: 50%;
  top: 0;
  box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.42);
  z-index: 999;
}

.titleHeader {
  font-size: 21px;
  font-weight: 800;
}

.headerModal {
  height: 50px;
  align-items: center;
  padding: 15px;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
}

.buttonCancel {
  width: 25px;
  float: right;
}

.imgInfo {
  width: 25%;
  margin-right: 20px;
}

.textInfo {
  font-size: 16px;
}

.column {
  float: left;
}

#column1 {
  width: 20%;
}

#column2 {
  width: 80%;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

.row {
  padding: 50px 40px 0 40px;
}

.containerInfo {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}

.imgLoading {
  width: 50%;
  padding: 5px;
}

.verticalLine {
  border-left: 3px solid;
  height: 80px;
  width: 10%;
  margin-left: 25px;
}

.disableWin {
  pointer-events: none;
}

.containerFooter {
  background: #f0f0f0;
  padding: 5px 10px 5px 30px;
  align-items: center;
  display: flex;
}

.containerFooter p {
  margin-top: 10px;
}

.containerFooter img {
  width: 20px;
  margin-right: 10px;
}

.retry {
  display: flex;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}

.retry img {
  width: 10%;
  margin-right: 6px;
}

.retry p {
  font-size: 12px;
  line-height: 14px;
  color: #0b172b;
  margin: 0;
}

.retry p:hover {
  text-decoration: underline;
}

.hiperlink {
  color: #0b172b;
  font-weight: 800;
  text-decoration: revert;
}

@media only screen and (min-width: 320px) and (max-width: 377px) {
  .titleHeader {
    text-align: center;
  }
  .verticalLine {
    margin-left: 15px;
    height: 100px;
  }

  .textInfo {
    font-size: 12px;
  }

  .containerInfo {
    align-items: flex-start;
    height: 120px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
  .verticalLine {
    margin-left: 18px;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  .verticalLine {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .verticalLine {
    margin-left: 19px;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper {
    width: 100%;
  }
}
